{% load static %}
{% load InfoBlog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% static 'InfoBlog/css/base.css' %}" rel="stylesheet">
    <link type="image/x-icon" href="{% static 'InfoBlog/images/Logo.ico' %}" rel="shortcut icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <main>


        <div class="menu">
            <div class="logo">
                <img src="{% static 'InfoBlog/images/Logo.png' %}" alt="Logo">
            </div>

            <div class="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">{{ user.username }} | Sign out</a></li>
                    {% endif %}
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                </ul>
            </div>
        </div>


        <div class="main_content">
            {% block news %}
            {% endblock %}


            <div class="posts_block">

                <div class="category">
                    <div>
                    {% if category_selected == 0 %}
                        <li class="selected">All categories</li>
                    {% else %}
                            <li><a href="{% url 'posts' %}">All categories</a></li>
                    {% endif %}

                        {% show_categories 'category_name' category_selected %}
                    </div>

                    <div class="add_post">

                        <a href="{% url 'add_post' %}"><button class="add_button">+ Add new post</button></a>

                    </div>

                </div>


                {% block content %}{% endblock %}

                <div class="pages_list">

                    <ul>
                        
                        {% if page_obj.has_previous %}
                        <li class="page_num">
                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                        </li>
                        {% endif %}
                        
                        {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page_num_selected">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page_num">
                                <a href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page_num">
                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        </li>
                        {% endif %}

                    </ul>

                </div>

            </div>
        </div>
    </main>
</body>
</html>