{% extends 'InfoBlog/base.html' %}
{% load static %}

{% block news %}
    <div class="news_block">
        <img src="{% static 'InfoBlog/images/news(temp).PNG' %}" alt="">
        <div class="quote">
        </div>
        <div class="news">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for p in posts %}
        <div class="post_card">
            <h2>{{ p.title }}</h2>
            {% if p.post_image %}
                <p><img class="post_image" src="{{ p.post_image.url }}" alt="Post photo"></p>
            {% endif %}
            <p>{{ p.content|linebreaks|truncatewords:50 }}</p>
            <p>{{ p.time_create|date:"d-m-Y H:i:s" }}</p>
            <a href="{{ p.get_absolute_url }}">Читать далее ...</a>
        </div>
    {% endfor %}
{% endblock %}