{% load static %}
body {
    color: #242424;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    list-style-type: none;
}

img {
    max-width: 1200px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #242424;
}

a:hover {
    border-bottom: 2px solid #AF0000;
}

ul, li {
    list-style-type: none;
}
/* --------------------------------------- */

main {
    max-width: 90%;
    margin: 10px auto;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
}

.logo img {
    max-height: 120px;
    margin-left: 30px;
}

.nav {
    justify-content: center;
    margin-top: 12px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    margin: 20px 20px;
    /* border: 1px solid grey; */
}


.social ul {
    display: flex;
}

.social img {
    height: 25px;
    margin-right: 10px;
    margin-top: 20px;
}


.news_block {
    padding-top: 20px;
}


.main_content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.news_block {
    box-shadow: 0px 0px 3px black;
    margin-right: 20px;
    width: 20%;
    height: 650px;
}

.posts_block {
    width: 70%;
}

.post_card {
    max-width: 90%;
    box-shadow: 0px 0px 3px black;
    padding: 10px 10px 20px 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}


.category {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

.category li {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.selected {
    border-bottom: 2px solid #980000;
}

.post_image {
    max-width: 95%;
}

.add_post a{
    color: white;
}

.add_button {
    background-color: #004D36;
    padding: 2px 15px;
    border-radius: 5px;
}

.add {
    color: white;
    background-color: #004D36;
    padding: 5px 12px;
    border-radius: 5px;
}

.add_post_button {
    padding: 5px 15px;
    background-color: #004D36;
    color: white;
    border-radius: 5px;
}

.pages_list {
    display: flex;
}

.page_num a{
    color: white;
}
.page_num {
    display: inline-block;
    background-color: #004D36;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 20px;
}

.page_num_selected {
    display: inline-block;
    background-color: #AF0000;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 20px;
}

.page_num_selected a{
    color: white;
}

/* @media screen and (max-width: 1400px) {
    .green, .red, .menu {
        height: 395px;
    }
    .logo img {
        width: 130px;
        margin-left: 20px;
    }
    .nav li {
        font-size: 14px;
        margin-bottom: 20px;

    }
    .social img {
        height: 20px;
    }
} */
