{% load static %}
body {
    color: #242424;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    list-style-type: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #242424;
}

a:hover {
    border-bottom: 2px solid rgb(49, 49, 49);
}

ul, li {
    list-style-type: none;
}
/* --------------------------------------- */

main {
    display: flex;
    max-width: 90%;
    margin: 90px auto;
    /* border: 2px solid red; */
}

.green, .red, .menu {
    height: 700px;
}

.green, .red {
    box-shadow: 1px 2px 7px black;
}

.green {
    background: url('../images/Green.jpg') 0 0/cover no-repeat;
    width: 30%;
    margin-right: 15px;
    max-height: 700px;
}

.red {
    background: url('../images/Red.jpg') 50% 0/cover no-repeat;
    width: 55%;
    max-height: 700px;
}




.nav li {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}


.social ul {
    display: flex;
}

.social img {
    height: 25px;
    margin-right: 10px;
    margin-top: 20px;
}



@media screen and (max-width: 1400px) {
    .green, .red, .menu {
        height: 395px;
    }
    .logo img {
        width: 130px;
        margin-left: 20px;
    }
    .nav li {
        font-size: 14px;
        margin-bottom: 20px;

    }
    .social img {
        height: 20px;
    }
}
